@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}

.logo {
    color: yellow;
    font-size: 24px;
    font-weight: bold;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

